{% extends "layout.html" %}

{% block title %}
    Explore and Learn about the Natural Hair Journey

{% endblock %}

{% block main %}
<center>
<b><h1 style="font-family:verdana;">About Us:</h1></b>
<p></p>
</center>
<center>
<img src= "https://i.pinimg.com/originals/1e/e1/32/1ee1323fdf9b18051c05688b894c73d0.jpg" style="width:300px;height:300px;">
</center>
<b><h1 style="font-family:verdana;">Our Mission Statement</h1></b>
<p></p>
<h5  style="font-family:verdana;">
    The goal of this project to give black identifying women an online platform to track their progress in the Natural Hair Movement.
    This project aims to foster individuality within the Natural Hair community, and champion the idea that the purpose of a chemical-free  life
    is for oneself and oneself only. Join the Movement because you want to, not because you should. Feel free to explore our site and
    both educate yourself about the movement, black hair, while you journal your success!
</h5>


{% endblock %}