{% extends "layout.html" %}

{% block title %}
Moisture and Climate
{% endblock %}

{% block main %}
<h1 style="color:black;">
   How does your regional climate effect your hair moisture?
</h1>
<p></p>
<h5 style="color:black;">
    It turns out that where you live has a huge affect on the level of moisture in your hair. It is vital that you always maintain
    a high level of moisture in your hair because without such moisture black hair is extremely susceptible to breakage. Below is a chart to illusture
    the affect of climate on ones hair. The humidity chart illustrates how temperature affects the level of humidity.
</h5>
<img src="https://qph.fs.quoracdn.net/main-qimg-f139159a83f771a0ae06fda0b3ca054b">
<p></p>
<h4 style="color:white;">
    If you live in an extremely dry climate you can do the following things:
</h4>
<li>Condition your hair more frequently</a></li>
<li>Try Oil based Products</li>
<li>Shampoo your hair less</li>
<li>Invest in a humidifier</li>
  <a class="navbar-brand" href="/"><img src="static/1216580-200.png"  style="width:75px;height:75px;" ><span class="btn btn-warning" >Back to Explore Page</span></a>

{% endblock %}