{% extends "layout.html" %}

{% block title %}
   So what's this about Hair Porosity?
{% endblock %}

{% block main %}
<h1 style="color:#800000;">
   So what's this about Hair Porosity?
</h1>
<p></p>
<h5 style="color:white;">
    Hair porosity simply refers to your hair’s ability to absorb and retain moisture,
    and here are three ways to determine where yours falls on the porosity spectrum: low, normal or high.
</h5>
<img src="https://i.ytimg.com/vi/3Kw5T1M29oY/maxresdefault.jpg" style="width:500px;height:300px;">
<p></p>
<h5 style="color:white;">
    By understanding your hair porosity you be able to better determine which products to purchase. As depending on the level of your
    hair porosity, you might want to buy more moisturizing or less moisturing products. This will save me lots of time and money
    at the drug store.
</h5>
<h3 style="color:white;"> Here are some ways to test your hair porosity!</h3>
<h4 style="color:#800000;">THE STRAND TEST</h4>
<li>
Gently stretch a tiny section of curl strands from different areas of your head – front hairline, nape, crown and temple.
Place the stretched curl between your thumb and finger and slide it up the hair strand from the tip towards the scalp.
If your fingers move easily up the strand and it feels dense and hard, you have low porosity hair. If it feels smooth, you have normal porosity hair.
And if the strand feels rough or dry or it breaks, you have high porosity hair.</li>
<h4 style="color:#800000;">THE SHEDDING HAIR TEST</h4>
<li>
Another way to check your hair porosity is to drop hair that’s been shed as a result of combing
into a glass of water. If it floats, your hair is low porosity. If your hair sinks slowly,
it has normal porosity, and if it sinks immediately, your hair is high porosity.</li>
<h4 style="color:#800000;">THE H20 TEST</h4>
<li>
To determine your hair porosity level using water,
spritz a small section of curls with water and watch how your hair reacts –
does your hair absorb the water quickly (indicating high porosity) or does it remain on top
(indicating a low porosity level)?</li>
<h2 style="color:#800000;">Happy testing!</h2>
  <a class="navbar-brand" href="/"><img src="static/1216580-200.png"  style="width:75px;height:75px;" ><span class="btn btn-warning" >Back to Explore Page</span></a>

{% endblock %}