{% extends "layout.html" %}

{% block title %}
    Please see all additional resources
{% endblock %}

{% block main %}
<center>
<h1>
    Helpful Videos for Beginners
</h1>
<li><a href="https://www.youtube.com/watch?v=A_jd5iEycGM">The LOC Method (Leave-in, Oil, Cream)</a></li>
<li><a href="https://www.youtube.com/watch?v=CFiDQdpll2w">Understanding the Big Chop</a></li>
<li><a href="https://www.curls.biz/curly-hair-type-guide.html">Getting to Know Your Hair Type</a></li>
<p></p>
<h1>
    Other Blogs to follow
</h1>
<li><a href="https://bglh-marketplace.com/">Black Girl Long Hair</a></li>
<li><a href="http://www.curlynikki.com/">Curly Nikki</a></li>
<li><a href="http://www.mynaturalsistas.com/">My Natural Sistas</a></li>
</center>
  <a class="navbar-brand" href="/"><img src="static/1216580-200.png"  style="width:75px;height:75px;" ><span class="btn btn-warning" >Back to Explore Page</span></a>

{% endblock %}